#boardPieces{
    width: 100%;
    height: 100%;
    background-color: #eeeed2;
}

#boardPieces > div{
    width: calc(100% / 8);
    height: calc(100% / 8);
    float:left; 
}

#boardPieces div:nth-child(-2n+8), 
#boardPieces div:nth-child(8) ~ div:nth-child(-2n+15), 
#boardPieces div:nth-child(16) ~ div:nth-child(-2n+24),
#boardPieces div:nth-child(24) ~ div:nth-child(-2n+31),
#boardPieces div:nth-child(32) ~ div:nth-child(-2n+40),
#boardPieces div:nth-child(40) ~ div:nth-child(-2n+47),
#boardPieces div:nth-child(48) ~ div:nth-child(-2n+56),
#boardPieces div:nth-child(56) ~ div:nth-child(-2n+63) {
    background-color: #769656;
}

#boardPieces div:nth-of-type(8n+1){   
    clear:left;
}