
/* switchButton, da nero a bianco */
#switchBoard{
	width: 20px;
	height: 20px;
	color: white;
	position: absolute;
	left:1%;
	top: -30px;
    cursor: pointer;
    transition: transform .25s ; /* Animation */
}
#switchBoard > svg{
	width: 100%;
	height: 100%;
}

#switchBoard:hover{transform: scale(1.2);}
